<div style="width:95%;">
    <div class="ui raised very padded text container segment">
        <form class="ui form">
            <div class="field" style="text-align:center;">
                <button class="mini ui button" type="submit" ng-click="graphView('simple')">
                    simple
                </button>
                <button class="mini ui button" type="submit" ng-click="graphView('full')">
                    full
                </button>
                <button class="mini ui button" type="submit" ng-click="graphView('rose')">
                    rose
                </button>
            </div>

            <div class="field">
                WILL NOT USE THIS LOOK AT EXEMPLE AND TELL ME WHY THEY USING A FUCKING TABLE TO FEED DATA INTO IT?
                <a>
                    http://jsfiddle.net/gh/get/jquery/1.9.1/highslide-software/highcharts.com/tree/master/samples/highcharts/demo/polar-wind-rose/
                </a>
            </div>
        </form>
    </div>
</div>